body { 
    font-family: Arial;
}
.menu {
    float: right;
}
.menu li {
    display: inline-block;
}
.menu a {
    color: black;
    text-decoration: none;
    padding: 20px;
}
.menu a:hover {
    background: #009efa;
 }
 .logo {
	height:100px;
	width:130px;
}
.container {
    width: 965px;
    background: white;
    margin: auto;
    border-radius: 25px;
}
p{
    font-family: Calibri;
}
.restaurante {
    margin-top: 50px;
}
.imagenRestaurante {
    height:550px;
	width:955px;
}
.footer{
    margin: 5px;
    overflow: hidden;
    border-radius:10px;
    color: white;
    background-color: black;
    padding-left: 50px;
    padding-top: 20px;
  }

  .insta{
    margin-top: 2px;
    height:20px;
	width: 20px;
    float: right;
    margin-right: 5%;
}
.twitter {
    height:25px;
	width:20px;
    float: right;
    margin-right: 1%;
}
.face {
    height:25px;
	width:20px;
    float: right; 
    margin-right: 1%;
    margin-bottom: 25px;
}